<h1>Submission Successful Page! (not really tho)</h1>
<!-- <p>Find me in app/views/pages/info.html.erb</p> -->

<body>
	<p>Thank you for your order!</p>

	<p>Please text (555)-555-5555 with your name to confirm your order.</p>
	
	<p>We will begin preparing your shake shortly after! </p>
</body>